body {
  /* background: rgb(96, 123, 42);
  background: linear-gradient(90deg, #062513 33%, #0f4726 77%); */
  letter-spacing: 0.9px;
  margin: 0;
  background-size: auto;
  background-position: center;
}


.container {
  position: relative;
  padding-bottom: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {

  width: 200px;
  margin-top: 20px;
}

.image-container img {
  padding: 28px;
    margin: 40px;
    max-width: 60%;
    max-height: 287px;
    object-fit: cover;
}

.menu-section {
  width: 100%;
  margin-top: 20px;
}

.section-title {
  letter-spacing: 3px;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  display: flex;
  color: rgb(60 87 26)!important;
  font-size: 53px;
  margin-bottom: 10px;
  justify-content: center;
}

.menu-item {
  border-radius: 9px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  padding: 11px;

}



.item-description {
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 31px;
  margin: 5px 0;
}

.item-price {
  align-self: flex-end;
  font-weight: bold;
}

h3,
p {
   font-family: 'Open Sans', sans-serif; 
}

.image-container {
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, #062513 33%, #095729 77%);
  justify-content: center;
}

/* ... Otros estilos ... */

.menu-item {
  margin-bottom: 38px;
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin-top: 32px;
  margin-right: 37px;
  margin-left: 47px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.item-title {
  color: #2f2f2f!important;
  margin: 6px;
  font-size: 42px;
}

.item-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3c571a!important;
  /* Color del subrayado */
}

.item-description {
  margin: 5px 0;
}

.item-price {
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  margin: 6px;
  font-weight: bold;
}

/* ... Otros estilos ... */

.item-controls {
  display: flex;
  align-items: baseline;
}

.edit-button {
  margin-top: 12px;
  border-radius: 6px;
  max-width: 202px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #000;
  padding: 9px 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #000!important;
  color: #fff!important;
}

/* .swal2-container{
    height: 50vh;
    display: flex;
    overflow-y: auto;
    align-items: stretch;
    justify-content: center;
  } */

.swal2-input {
  margin-top: 22px;
}

option {
  font-size: 11px;
}

#create-item-button {
  padding: 9px 10px;
  margin-top: 22px;
}

.swal2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* Ajusta según tus necesidades */
}


.footer {
  
  margin-top: 33px;
  padding: 22px 0px;
  background: rgb(96, 123, 42);
  background: linear-gradient(90deg, #062513 33%, #0f4726 77%);
  width:100%;
  margin: 0;
  /* position: fixed; */
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* background: rgb(96, 123, 42);
  background: linear-gradient(90deg, #062513 33%, #0f4726 77%); */
}

.footer-left {
  padding: 18px 0px;
  display: flex;
  align-items: center;
 
  align-content: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.social-icons img {
  width: 20px;
  height: auto;
  margin: 0 5px;
}

.footer-right {
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 50%;
}
.footer-right img {
  width: 100px;
}
.footer-right h2 {
  color: #fff!important;
}

.google-map {
  width: 100%;
  height: 200px;
  border: 0;
}

.footer-left img {
  width: 308px;
}

.social-icons img {
  width: 60px;
}

button{
  margin: 12px;
  font-size: 25px!important;
  padding: 12px;
}

.odd-item{
  background: #006d2d;

  /* background: linear-gradient(90deg, #018f3c 33%, #005523)!important; */
  ;
  ;
}.odd-item h3 {
  color: white!important;
}
.odd-item .section-title{
  color: #fff!important;
}

.odd-item .item-price{
color: white!important;
}

.odd-item  .item-description{
  color: white!important;
}

.odd-item .item-title::after{
  background-color: #ecffd4!important;
}


.auth-required{
  display:none
}
.swal2-popup {
  width: 38vh!important;
  height: 47vh!important;
}

.swal2-title{
  font-size: 54px!important;
}.swal2-input{
  width: 600px!important;
    height: 90px!important;
    padding: 0 0.75em!important;
    font-size: 29px!important;
}
swal2-confirm{
  font-size: 30px!important;
}
.section-title.pizzas::before {
  content: url('img/para_compartir.png');
  /* demás estilos para el icono */
}

.section-title.bebidas::before {
  content: url('img/para_compartir.png');
  /* demás estilos para el icono */
}

/* y así sucesivamente para cada tipo de sección */
.section-title::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;  /* Espacio entre el icono y el texto */
}


.botones-fot{
display: flex;}
.span-footer{
  display: flex;
    justify-content: space-between;
}

#login-button, #logout-button{
  border: none;
  color: white!important;
  background-color: transparent!important;
}


.swal2-confirm {
  background-color: #68e066!important;
  
}